[Unit]
Description=Doca Node.js server

[Service]
ExecStart=/usr/bin/node /home/ubuntu/iglu-doca/webpack/index
WorkingDirectory=/home/ubuntu/iglu-doca
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=doca-nodejs-api
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production PORT=8080

[Install]
WantedBy=multi-user.target

