
[Unit]
Description=Doca Node.js webserver

[Service]
ExecStart=/usr/bin/node /home/ubuntu/iglu-doca/src/server
WorkingDirectory=/home/ubuntu/iglu-doca
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=doca-nodejs-websesrver
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production PORT=8081

[Install]
WantedBy=multi-user.target
